@model CreatioFrance.Areas.Avocats.Models.AvocatInformationViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Avocats.Specialite, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Avocats.Specialite, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Avocats.PhotoFile, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Avocats.PhotoFile, new { type = "file", @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Avocats.Presentation, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Avocats.Presentation, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Avocats.HoraireDisponiste, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Avocats.HoraireDisponiste, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Avocats.NoteAvocat, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Avocats.NoteAvocat, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>
</div>


